sdmpy/xsd/AntennaMotionPattern.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
   ALMA - Atacama Large Millimeter Array
  (c) European Southern Observatory, 2002
  (c) Associated Universities Inc., 2002
  Copyright by ESO (in the framework of the ALMA collaboration),
  Copyright by AUI (in the framework of the ALMA collaboration),
  All rights reserved.
  
   This library is free software; you can redistribute it and/or
   modify it under the terms of the GNU Lesser General Public
   License as published by the Free software Foundation; either
   version 2.1 of the License, or (at your option) any later version.
  
   This library is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY, without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
   Lesser General Public License for more details.
  
   You should have received a copy of the GNU Lesser General Public
   License along with this library; if not, write to the Free Software
   Foundation, Inc., 59 Temple Place, Suite 330, Boston,
   MA 02111-1307  USA
   
   /////////////////////////////////////////////////////////////////
   // WARNING!  DO NOT MODIFY THIS FILE!                         
   //  
   // This is generated code!  Do not modify this file.  
   // Any changes will be lost when the file is re-generated.
   // 
   /////////////////////////////////////////////////////////////////
  
   File AntennaMotionPattern.xsd
 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                         version="1 -1" >  
	<xsd:simpleType name="AntennaMotionPattern">
	
		<xsd:annotation>
			<xsd:documentation>Motion pattern of antenna , e.g. in a calibration scan.</xsd:documentation>
		</xsd:annotation>
	
 		<xsd:restriction base="xsd:NCName">
     
			<xsd:enumeration value="NONE" >
		
				<xsd:annotation>
					<xsd:documentation>No pattern. </xsd:documentation>
				</xsd:annotation>
		
			</xsd:enumeration>
     
			<xsd:enumeration value="CROSS_SCAN" >
		
				<xsd:annotation>
					<xsd:documentation>Crossed scan (continuous pattern) </xsd:documentation>
				</xsd:annotation>
		
			</xsd:enumeration>
     
			<xsd:enumeration value="SPIRAL" >
		
				<xsd:annotation>
					<xsd:documentation>Spiral pattern </xsd:documentation>
				</xsd:annotation>
		
			</xsd:enumeration>
     
			<xsd:enumeration value="CIRCLE" >
		
				<xsd:annotation>
					<xsd:documentation>Circular pattern </xsd:documentation>
				</xsd:annotation>
		
			</xsd:enumeration>
     
			<xsd:enumeration value="THREE_POINTS" >
		
				<xsd:annotation>
					<xsd:documentation>Three points pattern. </xsd:documentation>
				</xsd:annotation>
		
			</xsd:enumeration>
     
			<xsd:enumeration value="FOUR_POINTS" >
		
				<xsd:annotation>
					<xsd:documentation>Four points pattern. </xsd:documentation>
				</xsd:annotation>
		
			</xsd:enumeration>
     
			<xsd:enumeration value="FIVE_POINTS" >
		
				<xsd:annotation>
					<xsd:documentation>Five points pattern. </xsd:documentation>
				</xsd:annotation>
		
			</xsd:enumeration>
     
			<xsd:enumeration value="TEST" >
		
				<xsd:annotation>
					<xsd:documentation>Reserved for development. </xsd:documentation>
				</xsd:annotation>
		
			</xsd:enumeration>
     
			<xsd:enumeration value="UNSPECIFIED" >
		
				<xsd:annotation>
					<xsd:documentation>Unspecified pattern. </xsd:documentation>
				</xsd:annotation>
		
			</xsd:enumeration>
     
			<xsd:enumeration value="STAR" >
		
			</xsd:enumeration>
     
			<xsd:enumeration value="LISSAJOUS" >
		
			</xsd:enumeration>
     
 		</xsd:restriction>
 	</xsd:simpleType>


<!--
	Type for an item constrained by the union of enumerators.
-->
	<xsd:simpleType name="AntennaMotionPatternList">
		<xsd:restriction>
			<xsd:simpleType>
				<xsd:list>
					<xsd:simpleType>
						<xsd:restriction base="AntennaMotionPattern" />
					</xsd:simpleType>
				</xsd:list>
			</xsd:simpleType>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name ="AntennaMotionPatterns">
		<xsd:restriction base="AntennaMotionPatternList">
			<xsd:maxLength value = "11" />
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
