sdmpy/xsd/ASDM.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
 ALMA - Atacama Large Millimeter Array
 (c) European Southern Observatory, 2002
 (c) Associated Universities Inc., 2002
 Copyright by ESO (in the framework of the ALMA collaboration),
 Copyright by AUI (in the framework of the ALMA collaboration),
 All rights reserved.
 
 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free software Foundation; either
 version 2.1 of the License, or (at your option) any later version.
 
 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY, without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.
 
 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 59 Temple Place, Suite 330, Boston,
 MA 02111-1307  USA
 
////////////////////////////////////////////////////////////////////////////////////////
//
//                                    WARNING 
//  This is generated code!  Do not modify this file.                  
//  If you do, all changes will be lost when the file is re-generated. 
//
////////////////////////////////////////////////////////////////////////////////////////
 File ASDM+".xsd"
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                      version="3 -1" >
    <xs:element name="ASDM">
        <xs:complexType>
            <xs:sequence>
            	<!-- The container's Entity identifier. -->
            	<xs:element name="Entity" type="EntityT"/>
            	<!-- The time of creation -->
                <xs:element name="TimeOfCreation" type="xs:string"/>
                <!-- Are ArrayTimeInterval values encoded as startTime & duration in the XML documents representing tables where they occur -->
                <xs:element name ="startTimeDurationInXML" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:restriction base="xs:anyType"/>
                         </xs:complexContent>
                    </xs:complexType>
                </xs:element>
                <!-- Are ArrayTimeInterval values encoded as startTime & duration in the binary documents representing tables where they occur -->
                <xs:element name ="startTimeDurationInBin" minOccurs="0" maxOccurs="1">
                	<xs:complexType>
  						<xs:complexContent>
   							<xs:restriction base="xs:anyType"/>
  						</xs:complexContent>
 					</xs:complexType>
 				</xs:element>
                <!-- A number of Table elements -->
                <xs:element name="Table" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Name" type="xs:string"/>
                            <xs:element name="NumberRows" type="xs:nonNegativeInteger"/>
                            <xs:element name="Entity" type="EntityT" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
