sdmpy/xsd/FilterMode.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
   ALMA - Atacama Large Millimeter Array
  (c) European Southern Observatory, 2002
  (c) Associated Universities Inc., 2002
  Copyright by ESO (in the framework of the ALMA collaboration),
  Copyright by AUI (in the framework of the ALMA collaboration),
  All rights reserved.
  
   This library is free software; you can redistribute it and/or
   modify it under the terms of the GNU Lesser General Public
   License as published by the Free software Foundation; either
   version 2.1 of the License, or (at your option) any later version.
  
   This library is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY, without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
   Lesser General Public License for more details.
  
   You should have received a copy of the GNU Lesser General Public
   License along with this library; if not, write to the Free Software
   Foundation, Inc., 59 Temple Place, Suite 330, Boston,
   MA 02111-1307  USA
   
   /////////////////////////////////////////////////////////////////
   // WARNING!  DO NOT MODIFY THIS FILE!                         
   //  
   // This is generated code!  Do not modify this file.  
   // Any changes will be lost when the file is re-generated.
   // 
   /////////////////////////////////////////////////////////////////
  
   File FilterMode.xsd
 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                         version="1 -1" >  
	<xsd:simpleType name="FilterMode">
	
		<xsd:annotation>
			<xsd:documentation> [APDM.Correlator] Modes of correlator input filtering</xsd:documentation>
		</xsd:annotation>
	
 		<xsd:restriction base="xsd:NCName">
     
			<xsd:enumeration value="FILTER_NA" >
		
				<xsd:annotation>
					<xsd:documentation> Not Applicable (2 antenna prototype). The Tunable Filter Banks are not implemented </xsd:documentation>
				</xsd:annotation>
		
			</xsd:enumeration>
     
			<xsd:enumeration value="FILTER_TDM" >
		
				<xsd:annotation>
					<xsd:documentation>Time Division Mode. In this mode the Tunable Filter banks are bypassed </xsd:documentation>
				</xsd:annotation>
		
			</xsd:enumeration>
     
			<xsd:enumeration value="FILTER_TFB" >
		
				<xsd:annotation>
					<xsd:documentation>The Tunable Filter Bank is implemented and used </xsd:documentation>
				</xsd:annotation>
		
			</xsd:enumeration>
     
			<xsd:enumeration value="UNDEFINED" >
		
				<xsd:annotation>
					<xsd:documentation>Not defined or not applicable. </xsd:documentation>
				</xsd:annotation>
		
			</xsd:enumeration>
     
 		</xsd:restriction>
 	</xsd:simpleType>


<!--
	Type for an item constrained by the union of enumerators.
-->
	<xsd:simpleType name="FilterModeList">
		<xsd:restriction>
			<xsd:simpleType>
				<xsd:list>
					<xsd:simpleType>
						<xsd:restriction base="FilterMode" />
					</xsd:simpleType>
				</xsd:list>
			</xsd:simpleType>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name ="FilterModes">
		<xsd:restriction base="FilterModeList">
			<xsd:maxLength value = "4" />
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
