sdmpy/xsd/HolographyChannelType.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
   ALMA - Atacama Large Millimeter Array
  (c) European Southern Observatory, 2002
  (c) Associated Universities Inc., 2002
  Copyright by ESO (in the framework of the ALMA collaboration),
  Copyright by AUI (in the framework of the ALMA collaboration),
  All rights reserved.
  
   This library is free software; you can redistribute it and/or
   modify it under the terms of the GNU Lesser General Public
   License as published by the Free software Foundation; either
   version 2.1 of the License, or (at your option) any later version.
  
   This library is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY, without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
   Lesser General Public License for more details.
  
   You should have received a copy of the GNU Lesser General Public
   License along with this library; if not, write to the Free Software
   Foundation, Inc., 59 Temple Place, Suite 330, Boston,
   MA 02111-1307  USA
   
   /////////////////////////////////////////////////////////////////
   // WARNING!  DO NOT MODIFY THIS FILE!                         
   //  
   // This is generated code!  Do not modify this file.  
   // Any changes will be lost when the file is re-generated.
   // 
   /////////////////////////////////////////////////////////////////
  
   File HolographyChannelType.xsd
 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                         version="1 -1" >  
	<xsd:simpleType name="HolographyChannelType">
	
		<xsd:annotation>
			<xsd:documentation> [ASDM.Holography] Type sof holography receiver output channels</xsd:documentation>
		</xsd:annotation>
	
 		<xsd:restriction base="xsd:NCName">
     
			<xsd:enumeration value="Q2" >
		
				<xsd:annotation>
					<xsd:documentation>Quadrature channel auto-product </xsd:documentation>
				</xsd:annotation>
		
			</xsd:enumeration>
     
			<xsd:enumeration value="QR" >
		
				<xsd:annotation>
					<xsd:documentation>Quadrature channel times Reference channel cross-product </xsd:documentation>
				</xsd:annotation>
		
			</xsd:enumeration>
     
			<xsd:enumeration value="QS" >
		
				<xsd:annotation>
					<xsd:documentation>Quadrature channel times Signal channel cross-product </xsd:documentation>
				</xsd:annotation>
		
			</xsd:enumeration>
     
			<xsd:enumeration value="R2" >
		
				<xsd:annotation>
					<xsd:documentation>Reference channel auto-product </xsd:documentation>
				</xsd:annotation>
		
			</xsd:enumeration>
     
			<xsd:enumeration value="RS" >
		
				<xsd:annotation>
					<xsd:documentation>Reference channel times Signal channel cross-product </xsd:documentation>
				</xsd:annotation>
		
			</xsd:enumeration>
     
			<xsd:enumeration value="S2" >
		
				<xsd:annotation>
					<xsd:documentation>Signal channel auto-product </xsd:documentation>
				</xsd:annotation>
		
			</xsd:enumeration>
     
 		</xsd:restriction>
 	</xsd:simpleType>


<!--
	Type for an item constrained by the union of enumerators.
-->
	<xsd:simpleType name="HolographyChannelTypeList">
		<xsd:restriction>
			<xsd:simpleType>
				<xsd:list>
					<xsd:simpleType>
						<xsd:restriction base="HolographyChannelType" />
					</xsd:simpleType>
				</xsd:list>
			</xsd:simpleType>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name ="HolographyChannelTypes">
		<xsd:restriction base="HolographyChannelTypeList">
			<xsd:maxLength value = "6" />
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
