sdmpy/xsd/PositionReferenceCode.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
   ALMA - Atacama Large Millimeter Array
  (c) European Southern Observatory, 2002
  (c) Associated Universities Inc., 2002
  Copyright by ESO (in the framework of the ALMA collaboration),
  Copyright by AUI (in the framework of the ALMA collaboration),
  All rights reserved.
  
   This library is free software; you can redistribute it and/or
   modify it under the terms of the GNU Lesser General Public
   License as published by the Free software Foundation; either
   version 2.1 of the License, or (at your option) any later version.
  
   This library is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY, without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
   Lesser General Public License for more details.
  
   You should have received a copy of the GNU Lesser General Public
   License along with this library; if not, write to the Free Software
   Foundation, Inc., 59 Temple Place, Suite 330, Boston,
   MA 02111-1307  USA
   
   /////////////////////////////////////////////////////////////////
   // WARNING!  DO NOT MODIFY THIS FILE!                         
   //  
   // This is generated code!  Do not modify this file.  
   // Any changes will be lost when the file is re-generated.
   // 
   /////////////////////////////////////////////////////////////////
  
   File PositionReferenceCode.xsd
 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                         version="1 -1" >  
	<xsd:simpleType name="PositionReferenceCode">
	
		<xsd:annotation>
			<xsd:documentation>defines reference frames to qualify the measure of a position.
</xsd:documentation>
		</xsd:annotation>
	
 		<xsd:restriction base="xsd:NCName">
     
			<xsd:enumeration value="ITRF" >
		
				<xsd:annotation>
					<xsd:documentation>International Terrestrial Reference Frame. </xsd:documentation>
				</xsd:annotation>
		
			</xsd:enumeration>
     
			<xsd:enumeration value="WGS84" >
		
				<xsd:annotation>
					<xsd:documentation>World Geodetic System. </xsd:documentation>
				</xsd:annotation>
		
			</xsd:enumeration>
     
			<xsd:enumeration value="SITE" >
		
				<xsd:annotation>
					<xsd:documentation>Site reference coordinate system (ALMA-80.05.00.00-009-B-SPE). </xsd:documentation>
				</xsd:annotation>
		
			</xsd:enumeration>
     
			<xsd:enumeration value="STATION" >
		
				<xsd:annotation>
					<xsd:documentation>Antenna station reference coordinate system (ALMA-80.05.00.00-009-SPE). </xsd:documentation>
				</xsd:annotation>
		
			</xsd:enumeration>
     
			<xsd:enumeration value="YOKE" >
		
				<xsd:annotation>
					<xsd:documentation>Antenna yoke reference coordinate system (ALMA-980.05.00.00-009-B-SPE) </xsd:documentation>
				</xsd:annotation>
		
			</xsd:enumeration>
     
			<xsd:enumeration value="REFLECTOR" >
		
				<xsd:annotation>
					<xsd:documentation>Antenna reflector reference coordinate system (ALMA-80.05.00.00-009-B-SPE). </xsd:documentation>
				</xsd:annotation>
		
			</xsd:enumeration>
     
 		</xsd:restriction>
 	</xsd:simpleType>


<!--
	Type for an item constrained by the union of enumerators.
-->
	<xsd:simpleType name="PositionReferenceCodeList">
		<xsd:restriction>
			<xsd:simpleType>
				<xsd:list>
					<xsd:simpleType>
						<xsd:restriction base="PositionReferenceCode" />
					</xsd:simpleType>
				</xsd:list>
			</xsd:simpleType>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name ="PositionReferenceCodes">
		<xsd:restriction base="PositionReferenceCodeList">
			<xsd:maxLength value = "6" />
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
